body {
    margin: 0;
}

.pt {
    font-family: 'PT Serif', serif;
}

.ptNarrow {
    font-family: 'PT Sans Narrow', sans-serif;
}

.storeTitle1 {
    margin: 0;
    font-size: 18pt;
    color: black;
    text-align: center;
}

.navText {
    padding: 0 20px;
    font-size: 14pt;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.hero {
    padding-top: 80px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/kats-hero-mobile-bg.jpg);
}

.hero p {
    color: white;
    text-align: center;
    margin: 0;
    line-height: 1;
    z-index: 1;
}

.smallHeading {
    padding-left: 17px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
}

.mainHeading {
    font-size: 55pt;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.catCrusader {
    padding-left: 20px;
    display: block;
    margin-top: -165px;
    z-index: 100;
}

#pageTitle {
    text-align: center;
    font-size: 24pt;
    margin-bottom: -0.1em;
}

.tealHeader {
    font-size: 20pt;
    color: #00897f;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* position divs/containers instead of text*/

p {
    margin-top: 0.5em;
    color: #323232;
    font-size: 14pt;
    line-height: 2;
    /* position divs/containers instead of text*/
}

.contactSection p {
    line-height: 1;
}

.contactSection .info {
    padding: 20px;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 70%;
  width: 70%; */
    border-radius: 70%;
}

.day {
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.time {
    text-align: right;
}

.phone {
    text-transform: uppercase;
    text-align: left;
}

.phoneNumber {
    text-align: right;
}

.location {
    text-transform: uppercase;
    text-align: left;
}

.addressLine1 {
    font-size: 14pt;
    color: #f26522;
}

.addressLine2 {
    font-size: 14pt;
    color: #f26522;
    padding-left: 90px;
}

.map {
    width: 100%;
    position: relative;
}

footer {
    padding: 30px 0;
    background-color: #00897f;
    padding-top: 10px;
}

.storeTitle2 {
    font-size: 14pt;
    color: white;
    text-align: center;
}

.spaceEvenly {
    display: flex;
    align-items: center;
    /* vertical */
    justify-content: space-evenly;
    /* horizontal */
    padding: 15% 15%;
}

.spaceBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* vertical */
    justify-content: space-between;
    /* horizontal */
    padding: 1%;
}

/* On devices wider than 660px */

/* cell phones */

/* @media(min-width: 600px and max-width: 939px) */

@media(max-width: 939px) {
    .mobileCenter {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* vertical */
        justify-content: center;
    }

    .hero div {
        padding-right: 20px;
        padding-left: 20px;
    }

    .smallHeading {
        font-size: 12pt;
        padding-left: 10px;
        padding-right: 0;

    }

    .mainHeading {
        font-size: 34pt;
    }

    .catCrusader {
        padding-left: 21px;
        margin-top: -135px;
    }

    .introParagraph {
        margin-right: 60px;
        padding-left: 30px;
    }

    .contactSection {
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 40px;
        background-color: #eeeeee;
        line-height: 2;
    }

    .desktopOnly {
        display: none;
    }

    .img-circle {
        height: 200px;
        width: 200px;
        padding-top: 0;
        align-content: center;
    }

    .peopleSection {
        font-size: 16pt;
        padding: 15px 30px 30px 30px;
        background-color: #eeeeee;
    }

    .addressLine2 {
        line-height: 0;
    }

    /* https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css */
    .map.center {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    /* On devices wider than 940px */
    /* desktops */
}

@media(min-width: 940px) {
    .storeTitle1 {
        text-align: left;
    }


    #pageTitle {
        margin-right: 300px;
    }

    .introParagraph p {
        margin-top: 1.5em;
    }

    .peopleSection p {
        margin-top: 1em;
    }

    .contactSection p {
        margin-top: 0.5em;
    }

    .introParagraph {
        font-weight: bold;
        text-align: left;
        margin-left: 275px;
    }

    .largerFont {
        font-size: 16pt;
    }

    .introParagraph {
        padding-bottom: 45px;
    }

    .peopleSection {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        padding-right: 14rem;
        padding-left: 14rem;
    }

    .peopleSection div {
        background-color: #eeeeee;
        padding: 30px 30px 15px 30px;
    }

    .img-circle {
        margin-left: auto;
        margin-right: auto;
        border-radius: 70%;
    }

    .blackHeader {
        text-align: center;
        font-size: 24pt;
    }

    .contactLineheight {
        line-height: 2.5;
    }

    .contactSection {
        padding: 50px 250px 30px 250px;
        background-color: #eeeeee;
    }

    .spaceAround {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .spaceAround div {
        background-color: white;
        padding-left: 2rem;
        padding-right: 3rem;
    }

    .desktopOnly {
        display: block;
    }
}